<div style="padding-left: 2%;padding-top: 2%;">
  <h1>URL Shortener</h1>
    <mat-form-field class="example-full-width">
      <mat-label>URL</mat-label>
      <input matInput placeholder="Ex. http://localhost:4200/handled-part" [(ngModel)]="urlInput">
    </mat-form-field>

  <div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="shortenUrl()">Get Short URL</button>
      <button mat-raised-button color="warn" (click)="getOriginalUrl()">Get Original URL</button>
    </div>
  </div>

  <div style="margin-top:25px;">
    <label  [ngStyle]="{'color':resultColor, 'font-weight': 'bold', 'font-size': '18px' }"> {{result}} </label >
  </div>

</div>